:root{
    --back-color:#131223; 
    --back-color-month:#222230; 
    --back-color-title:#363643; 
    --principal-color: #ce4f57; 
}
*{
 box-sizing: border-box;
}
body{
    margin: 0;
    background-color: var(--back-color);
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.yearTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: transparent;
    border: none;
    margin: 10px;
}
button i {
    color: white;
    cursor: pointer;
}
#calendar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}
.month{
    margin: 20px;
    padding: 10px;
    width: 250px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    background-color: var(--back-color-month);
    border-radius: 5px;
}
.monthTitle{
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 8;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: var(--back-color-title);
}
.weekDay{
    color: var(--principal-color);
    grid-row-start: 2;
}
.actualDay{
    border-radius: 5px;
    background-color: var(--principal-color);
}
.monthDay{
    cursor: pointer;
}
.popUp{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.todoList{
    margin: 50px;
    height: calc(100% - 100px);
    background-color: #ce4f57;
    border-radius: 5px;
}
.visible{
    display: block;
}
.open{
    animation: open 0.5s linear forwards;
}
.close{
    animation: close 0.5s linear forwards; 
}
@keyframes open{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
@keyframes close{
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}