:root{
    --back-color:#131223; 
    --back-color-month:#222230; 
    --back-color-title:#363643; 
    --principal-color: #ce4f57; 
}
*{
 box-sizing: border-box;
}
body{
    margin: 0;
    /*background: linear-gradient(180deg, var(--back-color-dark),  var(--back-color), var( --back-color-dark)  );*/
    background-color: var(--back-color);
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.yearTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: transparent;
    border: none;
}
button i {
    color: white;
}
.calendarContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.month{
    margin: 20px;
    padding: 10px;
    width: 250px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    background-color: var(--back-color-month);
    border-radius: 5px;
}
.monthTitle{
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 8;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: var(--back-color-title);
}
.weekDay{
    color: var(--principal-color);
}